<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manual de Usuario</title>
        
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
            crossorigin="anonymous">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

        <link rel="stylesheet"  href="../styles/docs.css">
    </head>
    <body>
        <header>
            <nav-bar></nav-bar>
        </header>

        <div class="container mt-5">
            <iframe src="https://drive.google.com/file/d/1LMExm-f4HO-tDjlntMmfMQ_Fg9HeODO0/preview" allow="autoplay"></iframe>
        </div>

        <script src="./../components/navBar.js"></script>
    </body>
</html>