<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fondo editorial</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="../styles/menu.css" />

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/datatables.min.css"/> 

    </head>
    <body>
        <h1>Hi Data tablet</h1>

        <div class="container">
            <table class="table table-striped table-bordered" id="FondoEditorial-Firebase">
                <thead>
                    <tr>
                        <th class="th-sm" scope="col">TÍTULO</th>
                        <th class="th-sm" scope="col">ESTADO</th>
                        <th class="th-sm" scope="col">LÍDER DE LA PUBLICACIÓN</th>
                        <th class="th-sm" scope="col">TIPO DE PUBLICACIÓN</th>
                        <th class="th-sm" scope="col">INSTITUCIÓN EDITORA</th>
                        <th class="th-sm" scope="col">RECEPCIÓN DE LA PROPUESTA DE PUBLICACIÓN</th>
                        <th class="th-sm" scope="col">COMUNICACIÓN DE ANÁLISIS DE ORIGINALIDAD</th>
                        <th class="th-sm" scope="col">CONVENIO DE COEDICIÓN</th>
                        <th class="th-sm" scope="col">ARCHIVOS AJUSTADOS DE ACUERDO CON EL ANÁLISIS DE ORIGINALIDAD</th>
                        <th class="th-sm" scope="col">SEGUNDO ANÁLISIS DE ORIGINALIDAD</th>
                        <th class="th-sm" scope="col">RADICACIÓN DE SOLICITUD CONTRATO PRIMER EVALUADOR</th>
                        <th class="th-sm" scope="col">RADICACIÓN DE SOLICITUD CONTRATO SEGUNDO EVALUADOR</th>
                        <th class="th-sm" scope="col">FINALIZA PRIMERA EVALUACIÓN</th>
                        <th class="th-sm" scope="col">FINALIZA SEGUNDA EVALUACIÓN</th>
                        <th class="th-sm" scope="col">FINALIZA TERCERA EVALUACIÓN</th>
                        <th class="th-sm" scope="col">INFORME DE RESULTADOS DE VIABILIDAD DE LA PROPUESTA CON BASE EN LAS EVALUACIONES</th>
                        <th class="th-sm" scope="col">RECEPCIÓN DE ARCHIVOS AJUSTADOS DE ACUERDO CON LAS EVALUACIONES</th>
                        <th class="th-sm" scope="col">RADICACIÓN DE SOLICITUD CONTRATO TERCERA EVALUACIÓN</th>
                        <th class="th-sm" scope="col">INFORME DE RESULTADOS DE VIABILIDAD CON BASE EN TRES EVALUACIONES</th>
                        <th class="th-sm" scope="col">RECEPCIÓN DE ARCHIVOS AJUSTADOS DE ACUERDO CON LA TERCERA EVALUACIÓN</th>
                        <th class="th-sm" scope="col">INICIO CORRECCIÓN DE ESTILO</th>
                        <th class="th-sm" scope="col">ENTREGA AL LÍDER DE ARCHIVOS CON CORRECCIÓN DE ESTILO</th>
                        <th class="th-sm" scope="col">ARCHIVOS CON LA VALIDACIÓN DE LA CORRECCIÓN DE ESTILO</th>
                        <th class="th-sm" scope="col">SOLICITUD DE DISEÑO</th>
                        <th class="th-sm" scope="col">MUESTRA DE CARÁTULA</th>
                        <th class="th-sm" scope="col">APROBACIÓN DE CARÁTULA</th>
                        <th class="th-sm" scope="col">MUESTRA DE CONTENIDO DISEÑADO</th>
                        <th class="th-sm" scope="col">OBSERVACIONES A LAS MUESTRAS</th>
                        <th class="th-sm" scope="col">REVISIÓN EDITORIAL (VERIFICACIÓN EDITORIAL)</th>
                        <th class="th-sm" scope="col">SOLICITUD DE ISBN</th>
                        <th class="th-sm" scope="col">ASIGNACIÓN DE ISBN</th>
                        <th class="th-sm" scope="col">SOLICITUD DE CATALOGACIÓN</th>
                        <th class="th-sm" scope="col">ASIGNACIÓN DE CATALOGACION</th>
                        <th class="th-sm" scope="col">APROBACIÓN DEL AUTOR</th>
                        <th class="th-sm" scope="col">PUBLICACIÓN</th>
                        <th class="th-sm" scope="col">DEPÓSITOS LEGALES</th>
                        <th class="th-sm" scope="col">OBSERVACIONES</th>
                        <th class="th-sm" scope="col">ACLARACIÓN DE DERECHOS SOBRE LA OBRA</th>
                        <th class="th-sm" scope="col">COMUNICACIÓN DE ANALISIS DE ORIGINALIDAD (LUEGO DE LOS AJUSTES)</th>
                        <th class="th-sm" scope="col">TEXTO AJUSTADO A PARTIR DEL ANÁLISIS DE ORIGINALIDAD</th>
                        <th class="th-sm" scope="col">FINALIZA CORRECIÓN DE ESTILO</th>
                        <th class="th-sm" scope="col">NUEVO TITULO</th>  
                        <th class="th-sm" scope="col">REMISION DE REVISION</th>  
                        <th class="th-sm" scope="col">FECHA LIMITE ENTREGA DE AJUSTES</th>
                        <th class="th-sm" scope="col">ENVÍO BORRADOR DE CONVENIO DE COEDICIÓN</th>
                        <th class="th-sm" scope="col">OBSERVACIONES DE LOS COEDITORES AL CONTRATO</th>
                        <th class="th-sm" scope="col">CARTA DE DESISTIMIENTO DE BIEN HUMANO</th>
                        <th class="th-sm" scope="col">CONVENIO FIRMADO POR LA UNIVERSIDAD CATÓLICA LUIS AMIGÓ</th>
                        <th class="th-sm" scope="col">CONVENIO FIRMADO POR LAS UNIVERSIDADES Y CARTA DE BIEN HUMANO</th>
                        <th class="th-sm" scope="col">OBSERVACIONES Y AJUSTES DE CORRECCIÓN</th>
                        <th class="th-sm" scope="col">REUNION ENTRE UNIVERSIDADES</th>
                        <th class="th-sm" scope="col">ACUERDO DE TERMINOS DE DISEÑO CON COORDINADORA EDITORIAL</th>
                        <th class="th-sm" scope="col">CONSTANCIA DE PUBLICACION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td></td> -->
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <table id="FondoEditorial-Firebase" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>TITÚLO</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>TITÚLO</th>
                </tr>
            </tfoot>
        </table> -->


        <!--  Carga de modulos y librerias  -->

        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>

        <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>

        <script defer src="./../environments/environments.js"></script>
        <script type="module" src="./../scripts/menu.js"></script>
    </body>

</html>